.home-actions {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.logged-info {
    color: white;
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.logout-button {
    background: #ff4444;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: white;
}
